html {
	line-height: 4ex;
}
#form div {
	line-height: 4ex;
}

#form label {
	display: inline-block;
	width: 6em;
}
#form label:after {
	content:  ": ";
}
sub {
	font-style: italic;
}

legend a {
	cursor: pointer;
	display: inline-block;
	margin-left: .5em;
}
legend a:last-of-type {
	margin-right: .5em;
}
legend a.selected {
	color: blue;
}