html {
	line-height: 4ex;
}
#form div {
	line-height: 4ex;
}

#form label {
	display: inline-block;
	width: 6em;
}
#form label:after {
	content:  ": ";
}
sub {
	font-style: italic;
}

fieldset {
	width:  30em;
	margin-left: auto;
	margin-right: auto;
}
legend a {
	cursor: pointer;
	display: inline-block;
	margin-left: .5em;
}
legend a:last-of-type {
	margin-right: .5em;
}
legend a.selected {
	color: blue;
}

code {
	line-height: initial;
}